div.hero{
    background-image: url(../images/banner.png);
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 12%;
    position: relative;
}
a.nav-link{
    text-transform: uppercase;
}
div.context-bg{
    background-color: transparent;
}
div.hero::before{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.637);
    content: "";

}
a.content-button:hover{
   background-color: coral;
   color: white;
}
.card_3{
   transition: .5s;
}
.cardtexty{
    font-size: xx-small;
}